<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Access Log</title>
        <script>
            window.onload = function checkCookie() {
                if (document.cookie == 'true') {
                    document.getElementById("cb").checked = true
                    autoReload()
                }
            }
            function autoReload() {
                if (document.cookie == 'true') {
                    setTimeout(function() {
                        location.reload()
                    }, 1.5 * 1000)
                }
            }
            function setCookie() {
                if (!document.cookie) {
                    document.cookie = 'true'
                } else {
                    if (document.cookie == 'false') {
                        document.cookie = 'true'
                    } else {
                        document.cookie = 'false'
                    }
                }
                autoReload()
            }
        </script>
    </head>
    <body>
        <div class="header">
            <h1>Access Log</h1>
            <!--  <input type="checkbox" id="cb" name="reload" value="on" onclick="setCookie()"> -->
            <input type="checkbox" id="cb" onclick="setCookie()">
            <label for="cb">Auto reload</label>
        </div>
        <div class="container">
            <div class="section">
                <table class="center">
                    <thead>
                        <tr>
                            <th>DateTime</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>CardID</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in access_log %}
                        <tr>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[3] }}</td>
                            {% if row[6] == "Access denied" %}
                            <td style ="color: red">{{ row[6] }}</td>
                            {% else %}
                            <td>{{ row[6] }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>

